---
layout: default
---
<div class="main-header bs-docs-masthead">
    <div class="container">
                <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">A</span>
                <div class="title">
                    {{ site.soft.name }}
                </div>
                <p class="desc">
                    {{ site.soft.description }}
                </p>
                <div class="actions">
                    <a href="https://github.com/keepwn/Altman" class="btn btn-lg btn-info">
                        View on GitHub
                    </a>
                    <a href="https://github.com/keepwn/Altman/releases/latest" class="btn btn-lg btn-success">
                        Download latest
                    </a>
                </div>
				<p class="version">当前版本：{{ site.soft.version }} | 更新时间：{{ site.soft.update }}</p>
    </div>
</div>
<div class="container">
    <div class="row home-box">
            <h2>
                工具特性
            </h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="feature">
                        <h3 class="title">
                            全开源
                        </h3>
                        <p class="content">
                            代码全部托管在Github上，任何人都可以随时随地查看和下载源代码，我们愿意为传播开源精神献出一份力。
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature">
                        <h3 class="title">
                            跨平台
                        </h3>
                        <p class="content">
                            基于Mono For .Net开发，经测试，可以运行在Windows、Linux、Osx等多个平台上。
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature">
                        <h3 class="title">
                            插件化
                        </h3>
                        <p class="content">
                            采用插件式架构，自带了多个常用插件，包括Shell管理、命令执行、文件管理、数据库管理等强大的插件，同时还拥有插件管理中心，使插件扩展成为无限可能。
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature">
                        <h3 class="title">
                            自定义
                        </h3>
                        <p class="content">
                            自定义最大化是程序的设计理念，支持自定义HttpHeader、自定义脚本类型和脚本功能、自定义加密/编码等各种自定义操作。
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>